<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopBanHang"
        tools:targetApi="31">
        <activity
            android:name=".Activity.ChiTietTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QuanLySanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SanPhamYeuThichMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ThanhToanMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Trang_Ca_Nhan"
            android:exported="false" />
        <activity
            android:name=".Activity.ChiTietSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LichSuHoaDonMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".DialogThemTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TrangChuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForgotpwActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ThemSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QuanLyTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.quan_ly_khuyen_mai"
            android:exported="false" />
        <activity
            android:name=".Activity.Gio_Hang"
            android:exported="false" />
        <activity
            android:name=".Activity.QuanLyKhoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ThuongHieuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SuaSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Doanh_Thu"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>